<table style="background-color:whitesmoke;opacity: 91%;padding: 0px 30px 30px 30px;display: grid;align-items: center;">
    <tr><td><h1 class="tituloh1">{{ tituloApp }}</h1> </td></tr>
    <tr>
        <table style="width: 100%;text-align: center;">            
            <tr>
              <td >
                <table style="margin: auto;">
                  <tr>
                    <td><label for="username">Usuario</label></td>
                    <td>
                      <input type="text" class="form-control" />                      
                    </td>
                  </tr>
                  <tr >
                      <td><label for="password">Contraseña</label></td>
                      <td><input type="password" class="form-control" />                     
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2" style="padding-top:30px;">                       
                      <button routerLink="/home/dashboard" routerLinkActive="active">Ingresar</button>                   
                    </td>
                  </tr>
                </table>
              </td>
            </tr>   
          </table>
    </tr>
  </table>
